.App {
  background-color: white;
}

.body   {
  display: block;
  padding: 3em 2em 0em 2em;
  justify-content: center;
}

.logo  {
  display: block;
  align-content: center;
  vertical-align: center;
  margin: 6em auto 4em;
  width: 60%;
}

.heading {
  font-family: "Arial Black";
  text-align: center;
}